<div
  class="
    hover:bg-sepia-500
    text-sepia-300 text-left align-top font-bold
    py-1 px-1
    h-16 w-24 
    border-2 border-sepia-300 rounded relative
    <%= @grid_tailwind %>"
  id="<%= @uiid %>"
  phx-click="move"
  phx-value-id="<%= @uiid %>"
>
  <%= @title %>
  <div class="absolute right-0 bottom-0 p-1 flex space-x-1">
    <%= for group_pawn <- @fighter_group_pawns do %>
    <div class="">
      <%= build(:pawn, group_pawn) %>
    </div>
    <% end %>
  </div>
</div>
