<div class="col-start-3 font-bold text-sepia-300 border-2 rounded border-sepia-300 p-2">
  <p>Escort Stations</p>
  <div class="grid gap-1">
    <%= build_from_list(:box, @stations) %>
  </div>

</div>
