<div class="col-start-3 font-bold text-blue-100 border-2 rounded border-blue-100 p-2">
  <p>Escort Stations</p>
  <!-- <div class="grid grid-cols-2 gap-2"> -->
    <%= for station <- @stations do %>
    <%= station.title %>
    <% end %>
  <!-- </div> -->

</div>
