<label class="block first:rounded-lg border-2 border-sepia-300">
  <!-- TODO rename uiid -->
  <input
    class="invisible "
    id="fighter_<%= @id %>"
    type="checkbox"
    phx-click="toggle_fighter_select"
    phx-value-id="<%= @id %>"
    <%= if @selected, do: "checked" %>        
  >
    <%= @name %> (#<%= @id %>)
</label>
