<div
  class="text-sepia-500 rounded border-2 border-sepia-300 w-8 h-8 relative text-xs font-bold"
  id="<%= @uiid %>"
>
  <div class="absolute top-0 right-0 bg-sepia-300 rounded-bl pl-1">
    <%= @id %>
  </div>
  <div class="absolute bottom-0 left-0 bg-sepia-300 rounded-tr pr-1">
    G
  </div>
</div>
