<div class="flex" id="<%= @uiid %>">
  <%= for x <- 1..@count do %>
    <div
      class="rounded-full border-2 border-gray-100 w-8 h-8 bg-gray-800 first:ml-0 -ml-4"
    >
    </div>
  <% end %>
</div>
