<h3><%= @position |> Atom.to_string() |> String.capitalize()%> Position</h3>
<%= for box <- @boxes do %>
<p id="<%= box.id %>"><%= box.position %>, <%= box.altitude %></p>
<% end %>


<!-- <div >
  <div>Evasive Return</div>
  <div>Return</div>
  <div>High</div>
  <div>High Approach</div>
  <div>Level</div>
  <div>Level Approach</div>
  <div>Low</div>
  <div>Low Approach</div>
  <div>Return</div>
  <div>Evasive Return</div>
</div> -->
  