<div class="font-bold border-2 border-blue-100 rounded w-24 h-24 <%= @coordinates_tailwind %> relative text-blue-200">
  <div class="absolute top-0 right-0 bg-blue-100 rounded-bl pl-1">
    <%= @x %>/<%= @y %>
  </div>
  <div class="absolute bottom-0 left-0 bg-blue-100 rounded-tr pr-1">
    S
  </div>
  <div class="absolute top-0 left-0 bg-blue-100 rounded-tr pr-1">
    <%= @lethal_level %>
  </div>
</div>