<form phx-submit="go_to_room">
  <label for="room_name">Room:&nbsp;&nbsp;</label>
  <input type="text" name="room_name" placeholder="<%= @room_name %>" autofocus>
  <button type="submit">Go To Room!</button>
</form>
