<%= live_component @socket, ChukinasWeb.Dreadnought.DynamicWorldComponent, id: :player_turn, mission: @mission, mission_player: @mission_player %>

<%= render("animations.html", socket: @socket, animations: @mission.gunfire) %>
