<%= if @mission do %>
  <%= live_component @socket, 
      ChukinasWeb.Dreadnought.StaticWorldComponent, 
      id: :grid_lab, 
      mission: @mission,
      mission_player: @mission_player,
      mission_playing_surface: @mission_playing_surface do %>
    <%# TODO remove the ChukinasWeb %>
    <%= live_component @socket,
        ChukinasWeb.Dreadnought.DynamicWorldComponent, @mission_player %>
  <% end %>
<% end %>
