<label phx-hook="uuid">
    Your UUID:
    <input id="uuid" value="<%= @uuid %>" disabled>
    <%# TODO make hidden %>
</label>
<form>
    <label>
        Game Name:
        <input name="game_name">
    </label>
    <submit>Go</submit>
</form>
