<label phx-hook="uuid">
    Your UUID:
    <input id="uuid" value="<%= @uuid %>" disabled>
    <%# TODO make hidden %>
</label>
<form>
    <label>
        Room Name:
        <input value="<%= @room %>">
    </label>
    <submit>Go</submit>
</form>

<%= if @live_action == :index do %>
  Index!
<% end %>

<%= if @live_action == :show do %>
  Room!
<% end %>
