<label phx-hook="uuid">
    Your UUID:
    <input id="uuid" value="<%= @uuid %>" disabled>
    <%# TODO make hidden %>
</label>
<form>
    <label>
        Room Name:
        <input value="<%= @room %>">
    </label>
    <submit>Go</submit>
</form>
