<div id="lobbyComponent" class="space-y-12">

  <%= render_large_text "Room: #{@pretty_room_name}" %>
  <%= for player_text <- @players_text, do: render_large_text(player_text) %>
  
  <%= render_button @ready_button_text, phx_click: "toggle_ready", phx_target: @myself %>
  <%= render_button "Leave Room", phx_click: "leave_room", phx_target: @myself %>

</div>
