<div id="lobbyComponent" class="space-y-12">
  <%= render_p "Room: #{@pretty_room_name}" %>
  <%= for player_text <- @players_text do %>
    <%= render_p player_text %>
  <% end %>
  <%= render_button @ready_button_text, phx_click: "toggle_ready", phx_target: @myself %>
  <%# TODO this handler should be in lobby component %>
  <%= render_button "Leave Room", phx_click: "leave_room" %>
</div>
