<div
  class="relative"
  style="<%= DreadnoughtWeb.Shared.width_height_from_size(@size) %>">
  <div
    class="absolute"
    style="
      <%= DreadnoughtWeb.Shared.width_height_from_size(@padded_image_size) %>
      <%= DreadnoughtWeb.Shared.left_top_from_position(@transform) %>
    ">
    <svg viewBox="<%= @padded_image_viewbox %>">
      <path d="<%= @svg_path %>" <%= DreadnoughtWeb.SvgView.render_dropshadow_filter() %> />
    </svg>
  </div>
</div>
