  <div 
    class="rounded-full bg-indigo-700 opacity-90 text-transparent absolute border-2 border-dotted"
      style="
             width:<%= @size %>px;
             height:<%= @size %>px;
             left:<%= @left %>px;
             top:<%= @top %>px;
             "
      >
      .
  </div>
