<div 
  class="rounded-full bg-<%= @color %>-900 opacity-70 text-transparent absolute border-2 border-white"
  style="<%= ChukinasWeb.DreadnoughtPlayLive.render_rect_as_style_attrs(@rect) %>"
>
    .
</div>
