  <div 
    class="rounded-full bg-pink-900 opacity-70 text-transparent absolute border-2 border-white"
      style="
             width:<%= @size %>px;
             height:<%= @size %>px;
             left:<%= @left %>px;
             top:<%= @top %>px;
             "
      >
      .
  </div>
