<div 
  class="dreadnought-relative-sprite absolute <%= @class %>"
  style="
    <%= ChukinasWeb.Shared.left_top_from_position(@position) %>
    <%= if @angle do %>
      transform: rotate(<%= @angle %>deg); 
    <% end %>
    transform-origin: <%= -@sprite.x %>px <%= -@sprite.y %>px;
  "
  <%= for attr <- @attributes do %>
    <%= attr.name %>="<%= attr.value %>"
  <% end %>
>
  <%= ChukinasWeb.SpriteView.static_sprite socket: @socket, sprite: @sprite %>
</div>
