<div 
  class="dreadnought-relative-sprite absolute <%= @class %>"
  style="
    left: <%= @position.x %>px; 
    top: <%= @position.y %>px; 
    <%= if @angle do %>
    transform: rotate(<%= @angle %>deg); 
    <% end %>
    transform-origin: <%= -@sprite.x %>px <%= -@sprite.y %>px;
  "
  <%= for attr <- @attributes do %>
    <%= attr.name %>="<%= attr.value %>"
  <% end %>
>
  <%= ChukinasWeb.DreadnoughtView.sprite socket: @socket, sprite: @sprite %>
</div>
