<%# Sprite Template %>
<div 
  class="relative overflow-hidden"
  style="
    width:<%= @rect.width %>px;
    height:<%= @rect.height %>px;
  "
>
<div
    class="absolute"
    style="
      width: <%= @image_size.width %>px;
      height: <%= @image_size.height %>px;
      left:<%= @transform.x %>px;
      top:<%= @transform.y %>px;
    "
  >
  <img 
    style="clip-path: path('<%= @image_clip_path %>');"
    src="<%= Routes.static_path @socket, @image_file_path %>"
  >
  </div>
</div>
