<%# Sprite Template %>
<div 
  class="relative overflow-hidden __dreadnought_sprite__"
  style="
    width:<%= @rect.width %>px;
    height:<%= @rect.height %>px;
  "
>
<div
    class="absolute"
    style="
      width: <%= @image_size.width %>px;
      height: <%= @image_size.height %>px;
      left:<%= -@rect.x %>px;
      top:<%= -@rect.y %>px;
    "
  >
  <img 
    style="clip-path: path('<%= @clip_path %>');"
    src="<%= Routes.static_path @socket, @image_path %>"
  >
  </div>
</div>
