<div
  id="arena"
  style="width:<%= @arena.end_position.x %>px; height: <%= @arena.end_position.y %>px"
  class="border-4 border-red-500 border-opacity-50 border-dashed"
>
  <%= for unit <- @units do %>
    <%= render "unit.html", %{unit: unit}%>
    <%= for segment <- unit.segments do %>
      <%= render "segment.html", segment %>
    <% end %>
  <% end %>
</div>
