<div class="fixed inset-0 bg-black bg-opacity-75">
 <form phx-submit="submit_feedback">
   <label for="feedback" class="text-white">Your Feedback:</label>
   <textarea id="feedback" name="feedback"></textarea>
   <input type="submit" value="Submit">
 </form>
</div>
