<%# Hand of Cards %>
<div
  class="absolute top-0 left-0 w-full h-full"
>
  <div class="relative w-full h-full">
    <div
      class="rounded-t-3xl top-8 -bottom-8 left-0 right-0 absolute bg-black opacity-0"
      id="handOfCards"
      phx-hook="HandOfCards"
    >
      <div
        class="text-lg text-center text-white select-none h-12"
        id="handOfCardsHeader"
      >
        Commands
      </div>
    </div>
  </div>
</div>
