<path
  id="<%= @unit_el_id %>-path-1"
  d="<%= @svg_path %>"
  data-maneuvering-el-id="<%= @unit_el_id %>"
  data-start="<%= @fractional_start_time %>"
  data-duration="<%= @fractional_duration %>"
  style="stroke-linejoin:round;stroke-width:20;stroke:#fff;fill:none"
/>
