<%# A single Unit Segment %>
<div
  id="segment--<%= @segment_number %>"
  class="absolute border border-indigo-400"
  style="left:<%= @position.x %>px; top:<%= @position.y %>px"
>
  <svg
    version="1.1"
    viewBox="<%= @svg_viewbox %>"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="<%= @svg_path %>"
      style="stroke-linejoin:round;stroke-width:2.5;stroke:#fff"
    />
  </svg>
</div>
