<%# Sprite Template %>
<div 
  id="something"
  class="relative opacity-50 overflow-hidden"
  style="
    width:<%= @rect.width %>px;
    height:<%= @rect.height %>px;
  "
>
<div
    class="absolute"
    style="
      width: 122px;
      height: 57px;
      left:<%= -@rect.x %>px;
      top:<%= -@rect.y %>px;
    "
  >
  <img 
    style="
      clip-path: path(<%= @clip_path %>);
    "
    src="<%= Routes.static_path @socket, @image.path %>"
  >
  </div>
</div>
