<svg
 width="40"
 height="40"
 version="1.1"
 viewBox="0 0 40 40"
 xmlns="http://www.w3.org/2000/svg"
 class="absolute top-0 fill-current transform rotate-<%= @angle %>"
 style="left:<%= @x %>px"
>
  <path d="m30 22h-9.7" style="fill:none;stroke-width:2;stroke:#fff"/>
  <path d="m30 18h-9.7" style="fill:none;stroke-width:2;stroke:#fff"/>
  <circle transform="scale(-1)" cx="-20" cy="-20" r="4.4" style="stroke-linecap:round;stroke-linejoin:round;stroke-width:2;stroke:#fff"/>
</svg>
