<%# Unit 3 Template %>
<div
  id="unit-<%= @unit.id %>"
  class="absolute"
  style="
    left: <%= @margin.width + @unit.pose.x + @unit.sprite.start_rel.x %>px;
    top: <%= @margin.height + @unit.pose.y + @unit.sprite.start_rel.y %>px; 
    transform: rotate(<%= @unit.pose.angle %>deg);
  "
  phx-hook="Unit"
  <%= if @game_over?, do: "data-gameover=true" %>
>
  <%= ChukinasWeb.DreadnoughtView.sprite socket: @socket, sprite: @unit.sprite, center_on_origin?: true %>
</div>
