<li
  data-event-type="mountRotation"
  data-mount-id="<%= @mount_id %>"
  data-delay="<%= @time_start %>"
  data-duration="<%= @time_duration %>"
  data-direction="<%= @angle_direction %>"
  data-start-angle="<%= @angle_start %>"
  data-end-angle="<%= @angle_end %>"
>
</li>
