<%# Unit Template %>
<div
  id="unit--<%= @unit.id %>"
  class="absolute top-0 left-0"
  style="top: <%= elem(@unit.vector.point, 1) %>px; left: <%= elem(@unit.vector.point, 0) %>px"
>
  This is a unit
</div>
