<div class="absolute top-0 left-0 transform scale-25 md:scale-50 lg:scale-75 xl:scale-100 origin-top-left">
    <div id="world" class="relative" style="width:1280px; height:800px">

    <%= if @live_action == :play do %>
      <div class="m-12">
        <%= render "arena.html", @mission %>
      </div>
    <% end %>

  </div>
</div>

