<div 
  class="rounded-full bg-<%= @color %>-900 opacity-70 text-transparent absolute border-2 border-white"
  style="<%= DreadnoughtWeb.Shared.top_left_width_height_from_rect(@rect) %>"
>
    .
    <input type="hidden" class="bg-pink-900 bg-blue-900">
</div>
