<div 
  absolute_sprite
  class="absolute <%= @class %> bg-green-500/50"
  style="
    <%= ChukinasWeb.Shared.left_top_from_position(@position) %>
    <%= if @angle do %>
      transform: rotate(<%= @angle %>deg); 
    <% end %>
    transform-origin: <%= @transform_origin.x %>px <%= @transform_origin.y %>px;
    padding: <%= @drop_shadow_padding %>px;
  "
  <%= ChukinasWeb.Shared.attrs(@attrs) %>
>
  <%= ChukinasWeb.SpriteView.static_sprite @conn, @sprite %>
</div>
