<div 
  class="relative"
  style="<%= ChukinasWeb.Shared.width_height_from_size(@sprite) %>">
  <div
    class="absolute"
    style="
      <%= ChukinasWeb.Shared.width_height_from_size(@image_size) %>
      <%= ChukinasWeb.Shared.left_top_from_position(@transform) %>
    ">
    <img 
      style="clip-path: path('<%= @image_clip_path %>');"
      src="<%= Routes.static_path @socket, @image_file_path %>">
  </div>
</div>
