<div class="absolute pointer-events-auto text-9xl text-white font-bold top-0 left-0" >
  <%= @turn_number %>
  <%= if @player_turn.show_end_turn_btn? do %>
  <%= ChukinasWeb.Components.button(
      "End Turn", 
      id: "dynWorldCompCompleteTurnBtn",
      "phx-target": @target, 
      "phx-click": "end_turn"
      )%>
  <% end %>
</div>


