<div
  class="absolute  text-4xl text-white"
  style="
    left: <%= @position.x %>px;
    top: <%= @position.y %>px; 
  "
>
  <div
    id="unit-<%= @unit_id %>-select"
    class="bg-yellow-400 animate-pulse pointer-events-auto cursor-pointer"
    style="
      width: <%= @size %>px;
      height: <%= @size %>px;
    "
    phx-click="select_gunnery_target"
    phx-value-unit_id="<%= @unit_id %>"
    phx-target="<%= @myself %>"
  >
  </div>
  <%= @unit_name %>
</div>
