<div
  id="fit"
  class="absolute"
  style="
    left: <%= @rect.x %>px;
    top: <%= @rect.y %>px;
    width:<%= @rect.width %>px;
    height: <%= @rect.height %>px
  "
  phx-hook="ZoomPanFit"
>
</div>
