<%= Phoenix.HTML.Tag.content_tag :input, @content, @attrs ++ [type: "button", class: "w-full flex justify-center rounded-md border-2 border-yellow-100 shadow-sm px-6 py-3 text-lg font-medium hover:bg-white/25 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"] %>
