<defs>
  <filter id="paperdropshadow" height="160%">
    <feGaussianBlur in="SourceAlpha" stdDeviation="1"/> 
    <feOffset dx="1" dy="1" result="offsetblur"/> 
    <feMerge> 
      <feMergeNode/>
      <feMergeNode in="SourceGraphic"/> 
    </feMerge>
  </filter>
</defs>
