<style>
  .paper-background {
    background-image:url("<%= Routes.static_path @conn, "/images/crinkled_paper_20210517.jpg" %>")
  }
</style>

<div class="fixed w-screen-h-screen bg-red-500 bg-blend-overlay" style="background-color: #213540">

  <div class="w-full h-full hidden fixed paper-background bg-cover">
  </div>

  <div class="hidden">
    <div 
      class="paper-background drop-shadow-xl filter brightness-110"
      style="
        width: 700px;
        height: 400px;
      "
    >
      <div class="bg-blue-900/80 w-full h-full">
      </div>
    </div>

    <div 
      class="paperBackground transform rotate-2 scale-105 drop-shadow-xl filter brightness-125"
      style="
        width: 700px;
        height: 700px;
      "
    >
      <div class="bg-blue-900/90 w-full h-full">
      </div>
    </div>
  </div>
</div>

<div class="fixed w-screen h-screen bg-red-500" style="background-color: #213540">
  <img class="mix-blend-overlay w-screen h-screen object-cover" src="<%= Routes.static_path @conn, "/images/crinkled_paper_20210517.jpg" %>" />
</div>
