<style>
  .paperBackground {
    background-image:url("<%= Routes.static_path @conn, "/images/crinkled_paper_20210517.jpg" %>")
  }
</style>

<div 
  class="paperBackground transform rotate-2 scale-105 drop-shadow-xl"
  style="
    width: 400px;
    height: 400px;
  "
>
  <div class="bg-blue-900/80 w-full h-full">
  </div>
</div>
