<div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md bg-red-300">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Dreadnought
    </h2>
  </div>

  <div class="sm:mx-auto w-full sm:max-w-md bg-blue-400 h-12 overflow-hidden h-40">
    <div class="h-full w-full transform translate-x-1/2 translate-y-1/2 relative bg-green-300/25">
      <%= ChukinasWeb.DreadnoughtView.render "unit.html",
        socket: @socket,
        turn_number: @turn_number,
        unit: @unit.unit %>
      <%= ChukinasWeb.AnimationView.muzzle_flashes @socket, @mission.gunfire %>
    </div>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-md bg-red-400">
    <div class="pb-8 px-4 sm:px-10 bg-green-200">
      <form class="space-y-6" action="#" method="POST">


        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Sign in
        </button>
        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Sign in
        </button>
      </form>

    </div>
  </div>
</div>
