<%= View.render_action_selection @player_turn.player_actions.current_action_selection, @myself %>

<%= render "unit_maneuver_actions.html", 
unit_actions: @player_turn.player_actions.actions
%>

<%= render "target_selection_boxes.html", 
action_selection: @player_turn.player_actions,
target: @myself,
units: @units
%>

<%= render "turn_marker_and_end_btn.html", 
player_turn: @player_turn,
target: @myself,
turn_number: @turn_number
%>
